.offers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 25px; }
  .offers-left, .offers-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .offers-element {
    position: relative; }
    .offers-element img {
      display: block;
      max-width: 100%; }
    .offers-element a {
      color: #fff; }
    .offers-element .offers-categories {
      font-size: 13px;
      line-height: 36px;
      letter-spacing: 0.65px;
      font-weight: 500;
      color: #292929; }
    .offers-element .offers-name {
      font-size: 19px;
      line-height: 24px;
      font-weight: 700;
      letter-spacing: 1.425px;
      color: #2d2b27; }
  .offers-info {
    position: absolute;
    z-index: 1;
    left: 30px; }
